@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 5em;
    background-color: #fff;
    border-radius: 2rem;
    max-width: 90%;
    width: 55rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-img{
    margin-left: -5rem;
}

.left-img img{
    max-width: 90%;
}

.right-text{
    width: 25rem;
}

.section{
    border-bottom: 2px solid rgb(230, 230, 230);
    padding: 0.5em 0;
}

.section span{
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.accord h2{
    font-weight: 700;
}

.accord-header:hover{
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.accord-body{
    display: none;
    font-size: 14px;
}

.accord-body1.active,.accord-body2.active,
.accord-body3.active,.accord-body4.active,
.accord-body5.active{
    display: block;
}

.icon1.arrowup,.icon2.arrowup,
.icon3.arrowup,.icon4.arrowup.arrowup,
.icon5.arrowup{
    transform: rotate(180deg);
    transition: 0.5s;
}

.head1.bolden,.head2.bolden,
.head3.bolden,.head4.bolden,
.head5.bolden{
    font-weight: 700;
}


@media (max-width: 950px){
    .container{
        flex-direction: column;
        padding: 2em;
    }

    .accord h2{
        text-align: center;
    }

    .left-img{
        margin: auto;
        text-align: center;
        margin-bottom: 2em;
    }
    .right-text{
        max-width: 100%;
    }

    .accord-header{
        font-size: 14px;
    }

    .accord-body{
        font-size: 13px;
    }
}

